ipykernel
python-dotenv
fastapi
uvicorn
pymongo
pydantic
requests
numpy
tensorflow
scikit-learn
notebook
selenium
beautifulsoup4
webdriver-manager
rake-nltk
spacy
keybert
transformers
torch
langdetect
matplotlib
seaborn
datasets
wordcloud
